*~
*.bak
*/.deps
*/.libs
FcgiBin
Makefile*
aclocal.m4
autom4te.cache/
build*
cgi-fcgi/cgi-fcgi
compile
config.*
configure
depcomp
examples/authorizer
examples/echo
examples/echo-cpp
examples/echo-x
examples/log-dump
examples/size
examples/threaded
fcgi*.pc
fcgi_config.h*
install-sh
libfcgi/
libtool
ltmain.sh
missing
stamp-h*
