*~ 
bak
.bak
*.bak
*.exe
*.o
*.obj
*.old
*.fpl
*.la
*.lo
*.CS_
*.plg
*.opt
*.ncb
*.positions
Debug 
Release 
.deps 
.libs
config.cache
config.status
config.log
FcgiBin
Makefile
Makefile.in
aclocal.m4
configure
fcgi_config.h
fcgi_config.h.in
libtool
stamp-h
stamp-h.in
stamp-h1
*.tar.gz
autom4te.cache/
config.guess
config.sub
depcomp
compile
fcgi.pc
fcgi++.pc
install-sh
missing
ltmain.sh
m4/
perl/FCGI-*.tar.gz
perl/FCGI-*/
perl/FCGI.bs
perl/FCGI.c
perl/FCGI.cfg
perl/FCGI.o
perl/FCGI.pm
perl/FCGI.xs
perl/MANIFEST.SKIP.bak
perl/MANIFEST.bak
perl/MYMETA.*
perl/Makefile
perl/Makefile.old
perl/aclocal.m4
perl/autom4te.cache/
perl/blib
perl/confdefs.h
perl/config.cache
perl/config.h.in
perl/config.log
perl/config.status
perl/configure
perl/echo.fpl
perl/fcgi_config.h
perl/fcgi_config.h.in
perl/fcgiapp.o
perl/os_unix.o
perl/pm_to_blib
perl/remote.fpl
perl/threaded.fpl
