#
# om-httpd.config
#
#       Config file for demonstrating the FastCGI Developer's Kit
#       using the Open Market Secure WebServer
#
#
# Copyright (c) 1996 Open Market, Inc.
#
# See the file "LICENSE.TERMS" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
#
# 1. Copy this file to 'conf/httpd.config' in the home directory
#    of the WebServer.
#
# 2. Create a symbolic link to the fcgi-devel-kit directory from
#    'root' in the home directory of the WebServer.
#
# 3. If the port assignment conflicts with another server, change it.
#
# $Id: om-httpd.config,v 1.1 1997/09/16 15:36:30 stanleyg Exp $
#
Port 5555
Procs 1
set home [pwd]/..
ServerRoot $home
Filemap / $home/root
IndexFile index.html
ExtendedLog $home/logs/httpd.log
PidFile     $home/logs/httpd.pid
Region /* {
    DirectoryIndex
}
source mime-types.config
#
# Ticketing stuff
#
SI_Enable On
SI_Department SampleStoreDept \
    -RewriteHtmlLinks Off -RewriteImageLinks Off \
    -EnableAnonymousTicketing 1 \
    -UseCookies No
Region /apps/* {
    SI_RequireSI SampleStoreDept 1
}
Region /SampleStore/* {
    SI_RequireSI SampleStoreDept 1
}
#
# tiny-fcgi: /apps/tiny-fcgi
#
AppClass  tiny-fcgi $home/root/examples/tiny-fcgi
Responder tiny-fcgi /apps/tiny-fcgi
#
# echo: /apps/echo
#
AppClass echo $home/root/examples/echo \
  -processes 2 -affinity \
  -initial-env STATE=Texas
Responder echo /apps/echo
#
# echo with tiny-authorizer: /apps/echo-protected
#
AppClass tiny-authorizer $home/root/examples/tiny-authorizer \
  -initial-env USER=fastcgi -initial-env PASSWORD=sano
Responder echo /apps/echo-protected
Region /apps/echo-protected {
    CGIPassword
}
AuthorizeRegion /apps/echo-protected tiny-authorizer
Region /apps/echo-protected {
     AffinityMap -id $PROCESS_ID
}
#
# sample-store: /SampleStore/App
#
Filemap /SampleStore $home/root/examples/SampleStore
AppClass  SampleStoreAppClass \
  $home/root/examples/sample-store \
  -processes 2 -affinity \
  -initial-env STATE_DIR=$home/root/examples/SampleStore.state \
  -initial-env CKP_THRESHOLD=100 \
  -initial-env CART_HOLD_MINUTES=240
Responder SampleStoreAppClass /SampleStore/App
AuthorizeRegion /SampleStore/Protected/* SampleStoreAppClass
